{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<div class="container" style="margin-top: 80px; margin-bottom: 120px;">
    <div class="login">
        <div class="h2 text-center head">Вход в систему</div>

        <form class="form-horizontal"
              action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            {{ login_form.as_p }}
            <br>
            <input class="btn btn-secondary text-light border" type="submit" value="Войти" style="margin-bottom: 8px;">
        </form>
        <button class="btn btn-secondary text-light border">
            <a style="text-decoration: none; color: white" href="{% url 'auth:register' %}">
                Зарегистрироваться
            </a>
        </button>
        <button class="btn btn-secondary text-light border">
            <a style="text-decoration: none; color: white"
               href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
                Вход через ВКонтакте
            </a>
        </button>

    </div>
</div>
{% endblock %}
